[submodule "lib/gmx-synthetics"]
	path = lib/gmx-synthetics
	url = https://github.com/gmx-io/gmx-synthetics
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
